.hide{
  display: none;
  transition: all .4s
}
.show{
  display: block;
  transition: all .4s
}

.block{display: inline-block}

.fw-700{font-weight: 700;}
.fw-400{font-weight: 400;}
.bsd{font-family: 'Big Shoulders Display', 'cursive';}
.ld{font-family: 'Lexend Deca', sans-serif;}

.sr-only{
  position: absolute;
  top: -10rem;
  left: -10rem;
  width: 0px;height: 0px;
}

.hover .box{
  filter: blur(3px);
  transition: all .2s;
}
.cancel{filter: blur(0) !important;}